<!DOCTYPE html>
{% load static %}
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %}{% endblock %} - SmartParking</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="dashboard-wrapper">
      <!-- Sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3><a href="{% url 'home' %}" class="text-decoration-none text-white">SmartParking</a></h3>
        </div>
        <ul class="list-unstyled components">
          <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
            <a href="{% url 'dashboard' %}">
              <i class="fas fa-home"></i> Accueil
            </a>
          </li>
          {% if request.user.user_type == 'client' %}
          <li class="{% if request.resolver_match.url_name == 'reserver' %}active{% endif %}">
            <a href="{% url 'reserver' %}"><i class="fas fa-car"></i> Réserver un parking</a>
          </li class="{% if request.resolver_match.url_name == 'historique_client' %}active{% endif %}">
          {% endif %}
          {% if request.user.user_type == 'admin' %}
          <li class="{% if request.resolver_match.url_name == 'gerants' %}active{% endif %}">
            <a href="{% url 'gerants' %}"><i class="fas fa-user-tie"></i> Gérants</a>
          </li>
          {% endif %}
          {% if request.user.user_type == 'gerant' %}
          <li class="{% if request.resolver_match.url_name == 'clients' %}active{% endif %}">
            <a href="{% url 'clients' %}"><i class="fas fa-users"></i> Clients</a>
          </li>
           {% endif %}
           {% if request.user.user_type == 'gerant' or request.user.user_type == 'client' %}
          <li class="{% if request.resolver_match.url_name == 'reservations' %}active{% endif %}">
            <a href="{% url 'reservations' %}"><i class="fas fa-calendar-check"></i>
              {%if request.user.user_type == 'client' %} Mes{% endif %} Réservations</a>
          </li>
          {% endif %}
          {% if request.user.user_type == 'gerant' %}
          <li class="{% if request.resolver_match.url_name == 'parkings' %}active{% endif %}">
            <a href="{% url 'parkings' %}"><i class="fas fa-parking"></i> Parkings</a>
          </li>
          {% endif %}
          {% if request.user.user_type == 'admin' %}
          <li class="{% if request.resolver_match.url_name == 'regions' %}active{% endif %}">
            <a href="{% url 'regions' %}"><i class="fas fa-map-marker-alt"></i> Régions</a>
          </li>
          {% endif %}
          <li class="{% if request.resolver_match.url_name == 'parametres' %}active{% endif %}">
            <a href="{% url 'parametres' %}"><i class="fas fa-cog"></i> Paramètres</a>
          </li>
        </ul>
      </nav>

      <!-- Page Content -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fas fa-align-left"></i>
              <span></span>
            </button>
            <div class="ml-auto">
              <div class="profile-dropdown">
                <i class="fas fa-user-circle profile-icon"></i>
                <div class="profile-dropdown-content">
                  <a href="{% url 'parametres' %}"><i class="fas fa-cog"></i> Paramètres</a>
                  <a href="{% url 'logout' %}"
                    ><i class="fas fa-sign-out-alt"></i> Déconnexion</a
                  >
                </div>
              </div>
            </div>
          </div>
        </nav>

        
      {% if messages %}
      <div
        id="message-container"
        style="
          position: fixed;
          top: 20px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1050;
          width: 80%;
          max-width: 400px;
          height: 200px;
        "
      >
        {% for message in messages %}
        <div
          class="alert alert-{{ message.tags }} alert-dismissible fade show"
          role="alert"
        >
          <strong>
            {% if message.tags == 'success' %}
            <i class="fas fa-check-circle"></i> Succès! 
            {% elif message.tags == 'danger' %} 
            <i class="fas fa-exclamation-circle"></i> Erreur! 
            {% elif message.tags == 'warning' %}
            <i class="fas fa-exclamation-triangle"></i> Attention! 
            {% elif message.tags == 'info' %}
            <i class="fas fa-info-circle"></i> Information! 
            {% endif %}
          </strong>
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %} 
        {% block content %}{% endblock %}
      </div>
    </div>

    {% block modals %}{% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script>
    $.ajaxSetup({
    headers: { "X-CSRFToken": getCookie("csrftoken") }
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  </script>
  {% block extra_script %}{% endblock %}
  </body>
</html>
