{% extends 'landing/main.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
   <div class="jumbotron jumbotron-fluid">
     <div class="container">
       <h1 class="display-4">Trouvez et réservez des places de parking</h1>
       <p class="lead">
         SmarkParking vous facilite la recherche et la réservation de places
         de parking dans votre région.
       </p>
       <div class="form-group">
         <select class="form-control" id="region-select">
           <option value="">Sélectionnez une région</option>
           {% for region in regions %}
             <option value="{{ region.id }}">{{ region.nom }}</option>
           {% endfor %}
         </select>
       </div>
     </div>
   </div>
   <input type="hidden" id="reservation-url-base" value="{% url 'reservation' pk=0 %}">
   <div class="container my-5 main-content">
     <h2 class="mb-4">Emplacements de parking</h2>
     <div class="row" id="parking-locations">
       {% for parking in parkings %}
         <div class="col-md-4 mb-4 parking-card" data-region="{{ parking.region.id }}">
           <div class="card">
             <div class="card-body">
               <h5 class="card-title">
                 <i class="fas fa-map-marker-alt mr-2"></i>
                 {{ parking.nom }}
               </h5>
               <p class="card-text">
                 <i class="fas fa-car mr-2"></i>
                 {{ parking.nombre_place_dispo }} places disponibles
               </p>
               <p class="card-text">
                 <i class="fas fa-dollar-sign mr-2"></i>
                 Tarif: {{ parking.tarif }} dinars/jour
               </p>
               <a href="{% url 'reservation' pk=parking.id %}" class="btn btn-primary">Réserver une place</a>
             </div>
           </div>
         </div>
       {% endfor %}
     </div>
   </div>
{% endblock %}

{% block extra_script %}
  <script>
      const regionSelect = document.getElementById("region-select");
      const parkingCards = document.querySelectorAll('.parking-card');
      function filterParkings(regionId) {
        parkingCards.forEach(card => {
          if (regionId === '' || card.dataset.region === regionId) {
            card.style.display = 'block';
          } else {
            card.style.display = 'none';
          }
        });
      }

      regionSelect.addEventListener("change", (event) => {
        filterParkings(event.target.value);
      });
      filterParkings('');
  </script>
{% endblock %}