{% extends 'landing/main.html' %}
{% load static %}

{% block title %}Reservation{% endblock %}

{% block content %}
<div class="container my-5 flex-grow-1">
  <div class="row">
    <div class="col-md-6">
      <div class="reservation-form">
        <h2 class="mb-4">Réservez votre place de parking</h2>
        <form id="reservation-form" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="id_date_arrive">Date d'arrivée</label>
            <input type="date" class="form-control" id="id_date_arrive" name="date_arrive" required>
          </div>
          <div class="form-group">
            <label for="id_date_sortie">Date de départ</label>
            <input type="date" class="form-control" id="id_date_sortie" name="date_sortie" required>
          </div>
          <div class="form-group">
            <label for="id_matricule">Matricule de la voiture</label>
            <div class="custom-select-wrapper">
              <input type="text" class="form-control" id="id_matricule" name="matricule" required {% if is_client %}autocomplete="off"{% endif %}>
              {% if is_client and user_matricules %}
                <ul class="custom-select" id="matricule-list">
                  {% for matricule in user_matricules %}
                    <li data-value="{{ matricule.matricule }}">{{ matricule.matricule }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Réserver</button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="reservation-info w-100">
        <h3 class="w-100">Détails de la réservation</h3>
        <p><strong>Région : </strong><span id="region-display">{{ parking.region.nom }}</span></p>
        <p><strong>Nom du Parking : </strong><span id="location-display">{{ parking.nom }}</span></p>
        <p><strong>Prix : </strong><span id="price-display">0.00</span> Dinar</p>
        <p><strong>Durée : </strong><span id="duration-display">0</span> jours</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>
<script>
    $(document).ready(function() {
        var parkingId = '{{ parking.id }}';
        var calculatePriceUrl = "{% url 'calculate-price' %}";
        
        function updatePrice() {
            var dateArrive = $('#id_date_arrive').val();
            var dateSortie = $('#id_date_sortie').val();
            
            if (dateArrive && dateSortie) {
                $.ajax({
                    url: calculatePriceUrl,
                    data: {
                        'parking_id': parkingId,
                        'date_arrive': dateArrive,
                        'date_sortie': dateSortie
                    },
                    dataType: 'json',
                    success: function(data) {
                        $('#price-display').text(data.price.toFixed(2));
                        $('#duration-display').text(data.duration);
                    }
                });
            }
        }
        
        $('#id_date_arrive, #id_date_sortie').on('change', updatePrice);

        // Gestion de la liste des matricules
        var $matriculeInput = $('#id_matricule');
        var $matriculeList = $('#matricule-list');

        $matriculeInput.on('focus input', function() {
            var inputVal = $(this).val().toLowerCase();
            $matriculeList.show();
            $matriculeList.find('li').each(function() {
                var liText = $(this).text().toLowerCase();
                if (liText.indexOf(inputVal) > -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $matriculeList.on('click', 'li', function() {
            $matriculeInput.val($(this).text());
            $matriculeList.hide();
        });

        $(document).on('click', function(e) {
            if (!$(e.target).closest('.custom-select-wrapper').length) {
                $matriculeList.hide();
            }
        });
    });
</script>
{% endblock %}